<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
            
	<servlet>
		<servlet-name>BookingInsertServlet</servlet-name>
		<servlet-class>com.booking.BookingInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>BookingInsertServlet</servlet-name>
	<url-pattern>/BookingInsertServlet</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>DeleteBookingServlet</servlet-name>
		<servlet-class>com.booking.DeleteBookingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>DeleteBookingServlet</servlet-name>
	<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddInquiryServlet</servlet-name>
		<servlet-class>com.booking.AddInquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>AddInquiryServlet</servlet-name>
	<url-pattern>/AddInquiryServlet</url-pattern>
	</servlet-mapping>
	
	         
	<servlet>
		<servlet-name>generatePDF</servlet-name>
		<servlet-class>com.booking.generatePDF</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>generatePDF</servlet-name>
	<url-pattern>/generatePDF</url-pattern>
	</servlet-mapping>
	</web-app> 